<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/layout/assets.css}">
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <link rel="stylesheet" th:href="@{/css/plugs/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/plugs/style.css}">
    <link rel="stylesheet" th:href="@{/css/register/register.css}">
</head>
<body>
<!--[if lte IE8]>
<p>Your browser is outdated. Please
    <a target="_blank" href="http://www.browsehappy.com">upgrade</a>
    to a current browser version.
</p>
<![endif]-->
<div class="ct-container col-md-12">
    <header class="share-header col-md-12"></header>
    <div class="register-login-content col-md-12">
        <div class="paper-content">
            <header class="paper-header">Register</header>
            <form action="" method="post">
                <ul class="form-place col-md-12" id="formplace">
                    <li style="margin-top:25px">
                        <div class="user-div">
                            <input name="username" id="username" type="text" placeholder="Username: 5-15 characters with no spaces"/>
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <div class="password-div">
                            <input name="password" id="password" type="password" autocomplete="on"
                                   placeholder="Password: 6-16 characters with no leading or trailing spaces">
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <div class="cpassword-div">
                            <input name="cpassword" id="confirmedPassword" autocomplete="on"
                                   type="password" placeholder="Confirm Password: enter the password again">
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <span class="sex-choice"></span>
                        <div class="sex-div" style="margin-left:20px;" title="Male">
                            <span class="sex-logo" index="1"></span>
                            <input name="sex" class="sex-radio" id="sex-female" type="radio" value="1"/>
                            <label for="sex-female"></label>
                        </div>
                        <div class="sex-div" title="Female">
                            <span class="sex-logo" index="2"></span>
                            <input name="sex" class="sex-radio" id="sex-male" type="radio" value="0"/>
                            <label for="sex-male"></label>
                        </div>
                        <div class="sex-div" title="Prefer not to say">
                            <span class="sex-logo" index="3"></span>
                            <input name="sex" class="sex-radio" id="sex-secret" type="radio" value="2"
                                   checked="checked"/>
                            <label for="sex-secret"></label>
                        </div>
                    </li>
                    <li>
                        <div class="email-div">
                            <input id="email" name="email" type="text" autocomplete="off"
                                   placeholder="Email: enter your email address">
                            <button type="button" disabled="disabled"
                                    class="button button-caution button-box button-raised button-giant"
                                    id="codebutton">
                                <i class="fa">Send</i>
                            </button>
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <div class="code-div">
                            <input name="code" type="text" id="emailCaptcha" placeholder="Email Verification Code">
                        </div>
                        <button type="button" disabled="disabled"
                                class="button button-caution button-box button-raised button-giant" id="submitbutton">
                            <i class="fa">Register</i>
                        </button>
                    </li>
                    <li>
                        <span class="sex-choice"></span>
                        <div class="role-div" style="margin-left:20px;" title="Lessor">
                            <input name="role" class="role-radio" id="role-lessor" type="radio" value="2" checked="checked"/>
                            <label for="role-lessor">Lessor</label>
                        </div>
                        <div class="role-div" title="Lessee">
                            <input name="role" class="role-radio" id="role-lessee" type="radio" value="3"/>
                            <label for="role-lessee">Lessee</label>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <footer class="share-footer col-md-12"></footer>
    <div id="error-box">
        <p id="error-info">An error occurred</p>
    </div>
</div>
</body>
<script th:src="@{/plugins/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/register.js}"></script>
</html>
