<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/plugins/zTree_v3-3.5.33/css/zTreeStyle/zTreeStyle.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/category_index.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
    <div class="page-header bg-success">
        <div class="btn-group">
            <button type="button" class="btn btn-default glyphicon glyphicon-th-list dropdown-toggle"
                    data-toggle="dropdown" id="filterByDeletedBtn">
                <span class="text">Enabled Categories</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="filterByDeletedMenu">
                <li><a href="javascript:void(0)" class="all-category">All Categories</a></li>
                <li><a href="javascript:void(0)" class="enabled-category">Enabled Categories</a></li>
            </ul>
            <button class="btn btn-success glyphicon glyphicon-plus" data-toggle="modal"
                    data-target="#addModal" id="addCategoryBtn">Add Category
            </button>
        </div>
        <span class="text-primary h2 col-sm-offset-2"><em>Category Details</em></span>
        <div class="btn-group pull-right">
            <button class="btn btn-warning glyphicon glyphicon-refresh" id="refreshBtn" title="Refresh"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <ul id="categoryTreeBlock" class="ztree"></ul>
        </div>
        <div class="col-sm-9">
            <form id="updateForm" class="form-horizontal">
                <fieldset>
                    <input type="hidden" id="inputCategoryId" name="categoryId"/>
                    <input type="hidden" id="inputParentId" name="parentId"/>
                    <input type="hidden" id="inputLevel" name="level"/>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Category Name</label>
                        <div class="col-sm-3">
                            <input type="text" id="inputName" name="name" class="form-control" placeholder="Required"
                                   autofocus required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputParentName" class="col-sm-2 control-label">Parent Category Name</label>
                        <div class="col-sm-3">
                            <input type="text" id="inputParentName" name="parentName"
                                   class="form-control" required/>
                        </div>
                        <button class="btn btn-primary" type="button" id="parentSelectBtn">Select Parent Category</button>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Enabled</label>
                        <div class="radio col-sm-3">
                            <label class="radio-inline">
                                <input type="radio" name="status" value="true" checked>Enabled
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" value="false">Disabled
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription" class="col-sm-2 control-label">Category Description</label>
                        <div class="col-sm-4">
                        <textarea id="inputDescription" name="description" class="form-control" cols="30"
                                  rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-2">
                            <button type="button" class="btn btn-success btn-block" id="updateBtn">Update</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" id="deleteBtn" class="btn btn-danger btn-block">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!--parent category select modal-->
<div class="modal fade" id="parentSelectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Select Parent Category</h4>
            </div>
            <div class="modal-body">
                <ul id="categorySelectTreeBlock" class="ztree">

                </ul>
            </div>
        </div>
    </div>
</div>
<!--add category modal-->
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Add Category</h4>
            </div>
            <div class="modal-body">
                <form id="addForm" class="form-horizontal">
                    <input type="hidden" id="inputAddParentId" name="parentId"/>
                    <input type="hidden" id="inputAddLevel" name="level"/>
                    <div class="form-group">
                        <label for="inputAddName" class="col-sm-2 control-label">Category Name</label>
                        <div class="col-sm-3">
                            <input id="inputAddName" type="text" name="name" class="form-control" placeholder="1-20 characters"
                                   title="Enter 1-20 Chinese or English letters, digits, or underscores"
                                   autofocus required pattern="[0-9a-zA-Z\u4e00-\u9fa5_]{1,20}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddParentName" class="col-sm-2 control-label">Parent Category Name</label>
                        <div class="col-sm-3">
                            <input id="inputAddParentName" type="text" name="parentName"
                                   class="form-control" required/>
                        </div>
                        <button class="btn btn-primary" type="button" id="parentSelectAddBtn">Select Parent Category</button>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Enabled</label>
                        <div class="radio col-sm-3">
                            <label class="radio-inline">
                                <input type="radio" name="status" value="true" checked>Enabled
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" value="false">Disabled
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddDescription" class="col-sm-2 control-label">Category Description</label>
                        <div class="col-sm-4">
                            <textarea id="inputAddDescription" name="description" class="form-control" cols="30"
                                      rows="5" maxlength="255" placeholder="Enter no more than 255 characters"
                                      title="The category description cannot exceed 255 characters"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="addBtn">Add</button>
            </div>
        </div>
    </div>
</div>
<!--parent category select add modal-->
<div class="modal fade" id="parentSelectAddModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Select Parent Category</h4>
            </div>
            <div class="modal-body">
                <ul id="categorySelectTreeAddBlock" class="ztree">

                </ul>
            </div>
        </div>
    </div>
</div>
<!--hint modal-->
<div class="modal fade" id="hintModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <h5><span id="hintContent"></span></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/plugins/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/zTree_v3-3.5.33/js/jquery.ztree.core.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/category_index.js}"></script>
</body>
</html>
