<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qust.userDao.mapper.MenuMapper">

    <!-- Common query result mapping -->
    <resultMap id="BaseResultMap" type="edu.qust.userDao.entity.Menu">
    <result column="id" property="id" />
    <result column="add_user_id" property="addUserId" />
    <result column="add_time" property="addTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="mark" property="mark" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="url" property="url" />
    </resultMap>

    <!-- Common query result columns -->
    <sql id="Base_Column_List">
        id,
        add_user_id,
        add_time,
        update_user_id,
        update_time,
        mark,
        pid, name, url
    </sql>

</mapper>
